.content-wrapper {margin: 0 10px;}

.lbl-heading {
    font-weight: bold;
    color: #000
}

.talk-details {padding-top: 10px;}
  
label, .ui-controlgroup-label {color: #666;}
label .rating-note { color: #ccc; font-style: italic; font-size: 90%;}
textarea.ui-input-text {height: 100px;}

.ur-comment { font-style: italic; color: #666;}
@media (min-width: 450px) {
  label {
    text-align: left;
  } 
  label .rating-note { 
    display: block;
  }
  
  .ui-field-contain .ui-select, .ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search  {
    width: 77%;
  } 
  .ui-field-contain div.ui-slider {
    width: 65%;
  }
  input.ui-slider-input, .ui-field-contain input.ui-slider-input { 
      width: 50px;
  }

  .offset {
    width: 78%;
    margin: 0 0 0 22%;
  }

  .talk-details {
    padding-top: 0;
  }

}
  
@media (min-width: 768px) {
  .content-wrapper {
    width: 750px;
    margin: 0 auto;
  }

}

.ui-header {border-bottom: 8px solid #ec518b;}
h1.ui-title {font-size: 12px!important;}
.content-wrapper h1{font-size: 1.3em; margin: 0 0 10px 0; background: none repeat scroll 0 0 #ec518b; border-radius: 0 0 10px 10px; padding: 0 0 5px 10px; color:#fff; text-shadow: 0 1px 0 #666; font-weight:normal; text-align: center;}
.userTitle {width: 68%; float: right; font-size: 14px; margin-top: 45px; text-align: right; padding-right: 1%; font-weight: normal;color: #FFFFFF;}
div.ui-header.ui-bar-b a.userTitle {color: #fff; font-weight: normal; text-decoration: none; font-size:0.88em;}
.userTitle img{ margin-left: 1%;}
.headerWrapperN { overflow: auto;}
img {max-width: 100%}

.ui-footer {margin: 10px auto; border: 0; border-radius: 50%; width: 75%; background: #ec518b}
.ui-footer center {font-size: 12px; padding: 10px 0 10px 0;}

.ui-bar-d {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec518b), to(#eb71a0)); /* Saf4+, Chrome */
  background:  -webkit-linear-gradient(top, #ec518b, #eb71a0); /* Chrome 10+, Saf5.1+ */
  background:     -moz-linear-gradient(top, #ec518b, #eb71a0); /* FF3.6+ */
  background:      -ms-linear-gradient(top, #ec518b, #eb71a0); /* IE10 */
  background:       -o-linear-gradient(top, #ec518b, #eb71a0); /* Opera 11.10+ */
  background:          linear-gradient(top, #ec518b, #eb71a0); /* W3C */
  color: #fff;
  text-shadow: 0 1px 0 #666666;
  border-top-left-radius: 50px;
}

.ui-body-c, .ui-overlay-c {
  background: #ffeaf2!important;
}

.ui-li-static.ui-body-d {
  margin-bottom: 15px;
  border-radius: 0 0 40px 0;
  -moz-box-shadow: 0px 0px 5px #ec518b;
  -webkit-box-shadow: 0px 0px 5px #ec518b;
  box-shadow: 0px 0px 5px #ec518b;
}

.ui-body-d .ui-link:link, .ui-body-d .ui-link:visited {
  color: #ec518b;
}

.ui-body-d .ui-link:hover {
  color: #eb71a0;
  text-decoration: none;
}

.titleN {padding-left: 30px;}

.fontN, .content-wrapper h1{font-family: 'Exo', sans-serif;}

.infoN {font-size: 1.3em; line-height: 1.5em;}
